DB_CONNECTION=postgres://postgres:@localhost:5432/strbooking
STRIPE_SK=sk_test_51L7ItbIo6oSds8ab7DNfeQOaxVWQpRB9hN7uZANIqgFymhVpzZRZT8yN3msQHsmSe3pegpEx5vQGIikdpnAyhPSM00t5EqA9b4
NEXT_PUBLIC_STRIPE_PK=pk_test_51L7ItbIo6oSds8abn9JjUKq0gHtWYONrMuG7rInoXJigT5RkkqTzDVRp8lcAlSEZJoALMeam0pctL4thAuRr8Q1E00bLdsYdTT
NEXT_PUBLIC_FIREBASE_PK={"apiKey":"AIzaSyBIhqR2lSan2NNHCX395WxIvaVEYQwcOOU","authDomain":"str-booking-portal.firebaseapp.com","projectId":"str-booking-portal","storageBucket":"str-booking-portal.appspot.com","messagingSenderId":"598618318864","appId":"1:598618318864:web:db97e51216ed6071b18295","measurementId":"G-DNVDDCN5LY"}
NEXT_PUBLIC_API_URL=http://localhost:3001/api