@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#root {
  height: 100vh;
}

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.home-bg {
  background-image: url(/home.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.admin-bg {
  background-image: url(/admin.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.stars-bg {
  background-image: url(/stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-checkbox,
.form-select,
.form-input {
  border-radius: 0.5rem;
  border-color: #3b82f6;
}
